<label for="filter">Filter City: </label>
<input type="text" [(ngModel)]="City">
<button type="button" (click)="onCityFilteer()" class="btn btn-primary ms-2">Search</button>
<button type="button" (click)="onCityClear()" class="ms-2 btn btn-warning">Clear</button>
<label class="ms-2">Sort by</label>
<select [(ngModel)]='SortByParam' class="ms-2">
    <option value="City">City</option>
    <option value="Price">Price</option>
</select>
<button type="button" (click)="onSortDirection()" class="ms-2 btn btn-warning">Sort</button>

<div class="row">
    
    
    <div *ngFor="let property of properties|filter:SearchCity:'city'|sort:[SortByParam,sortDirection]" class="shadow-lg col-sm-4 p-3">

        <app-property-card [property]="property"></app-property-card>
    </div>
</div>
