<div class="row shadow">
    <div class="col-sm-4 p-0 ">
        <div class="card">
            <div class="card-img-wrapper">
                <img src="assets/image/House2.jpg" alt="House-Image" class="card-img-top">
            </div>
            <div class="card-body">
                <h1 class="card-title">{{property.Name}}</h1>
                <div>
                    <strong>
                        {{property.BHK}} BHK Apartment {{property.Price}}
                    </strong>
                </div>
                <div>
                    <strong>
                        in {{property.city}}
                    </strong>
                </div>
                <div>
                    <strong>Build Area:</strong>
                    {{property.BuiltArea}}
                </div>
                <div>
                    <strong>Carpet Area:</strong>
                    1100Sqft
                </div>
                <div>
                    <strong>Furnishing Type:</strong>  
                    {{property.FType}}
                </div>

            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success ms-3">Message </button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-8 p-0">
        <tabset>
            <tab heading="Overview">

            </tab>
            <tab heading="Address">
                
            </tab>
             <tab heading="Photo">
                
            </tab>
            <tab heading="Contact">
                
            </tab>

        </tabset>

    </div>
</div>